<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<table style="width: 100%; background:#EFEFEF; font-family: Circular,'Helvetica Neue',Helvetica,Arial,sans-serif;">
    <tr>
        <td>
            <table>
                <tr>
                    <td height="30"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="max-width:650px; width: 100%; margin: 0 auto;background: white;">
                <tr>
                    <td>
                        <p style="text-align: center;font-family: Verdana,Helvetica,Arial,sans-serif;font-size: 28px;font-weight: normal;margin:0;color: #0091FF;border-bottom:20px solid white;">
                            Dear Admin,
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="background: #FAFAFA; width: 100%;text-align: center;border-top: 20px solid #FAFAFA;border-bottom: 20px solid #FAFAFA;">
                        <p style="font-family: Verdana,Helvetica,Arial,sans-serif;font-size: 16px;font-weight: Normal;margin:0;color: #3C3C3C;">
                            ETA calibrations are updated for following {{updatedFor}}.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="background: #FAFAFA; width: 100%;text-align: center;border-top: 20px solid #FAFAFA;border-bottom: 20px solid #FAFAFA;">
                        <p style="font-family: Verdana,Helvetica,Arial,sans-serif;font-size: 15px;font-weight: bold;margin:0;color: #3C3C3C;">
                            {{zones}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: center;font-family: Verdana,Helvetica,Arial,sans-serif;font-size: 22px;font-weight: normal;margin:0;color: #0091FF;border-bottom:20px solid white;">
                            Thank you,
                            The Lymo Team
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


</body>
</html>
